*{
    margin: 0px;
    padding: 0px;
    font-family: serif;
}
/* nav bar styling */
.navDiv{
    display: grid;
    background: white;
    height: 90px;
}
.navHeader{
    background-color: #42516c;
    color: white;
    display: inline;
    text-align: center;
    padding-left: 5px;   
}
h1{
    font-size: x-large !important;
    padding: 0px;
    margin: 0px !important;
   }
.navLink{    
    cursor: pointer;    
}
a:hover {
    color: red;
  }
.subHeader{
    display: block !important;
    
}
.navbar{
    padding: 0px !important;
    background-image: url(./images/1_80Ofj1rQvBRC9rB7pu_BWw.jpeg) !important;
    font-family: serif !important;
    font-size: medium !important;
    font-weight: 600 !important;
}
.navbar-light .navbar-brand {
   color: #42516c !important;
}
.navbar-brand {
    display: inline-block;
    padding: 0px !important;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navFix{
    margin-bottom: 0px !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navFix:after {
    display: none !important;
}
.navFix:before {
    display: none !important;
}
.navPort1{
    float: left;
}
.navPort3{
    float: right;
}

/* main styling */
h5{
    text-align: center;
}
.theo{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 30px;
    
}
.about{
    list-style: none
}
.aboutMe{
        
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./images/abstract-web-developer-background-blue.jpg);
    margin-bottom: 30px;
}
.aboutMeH4{
    color: black;    
    font-size: xx-large;
    text-align: center;
    background-color: #759be9; 
}
.aboutDiv{
    float: left;
    margin-right: 10px;
    color: #42516c !important;
}
ul li a{
    color: #42516c;
    font-weight: 600;
}
.mainDiv{
    border: 2px solid;
    width: 70%;
    float: right;
    border-radius: 10px;
    min-height: 250px;
    border-color: lightblue;
    padding: 10px;
    box-shadow: 0 0 8px #1976D2;
    background-color: white;
}
#projectname{
    margin-left: 10px;
}
.projectInfo{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100% !important;
    margin-right: 0px !important;
}
.info{
    display: none;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.mainContact{
    padding: 10px !important;
    background-color: whitesmoke; 
    display: inline-block;    
}
body{
    background-color: #d8d5d5 !important;
    height: 100%;
    background-image: url(./images/262869841.jpg);
    
 }

.stickToFooter{
    background: cornflowerblue;
    height: 10px;
    position: relative;
    
}
.resume{
    clear: both;
    display: block;
    text-align: center;
    color:#8E24AA;
    padding-top: 20px;
}
/* portfolio css*/
.carousel {
    position: relative;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-inner{
    background-color: rgb(58, 89, 129);
}
.carousel-caption{
    color: black !important;
}

.portfolio {
    padding-top: 30px;
}
.proImage {
    height: 300px !important;
    width: auto !important;    
    margin-left: auto;
    margin-right: auto;
}
.proName {
    color: white;
    font-size: x-large;
    text-align: center;
    background-color: black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.proInfo {
    color: #223293;
    font-size: medium;
}
.proLink {
    display: block;
    margin-top: inherit;
    border-bottom-style: solid;
    white-space: break-spaces;
    text-align: center;
}
.proLink a{
    color: white;
    text-decoration: none;
}
/* contact */
.contactInfo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid;
    width: 70%;    
    border-radius: 10px;
    min-height: 250px;
    border-color: lightblue;    
    box-shadow: 0 0 8px #42516c;
    background: white;
}
.contactHeader{
    color: tomato;
    text-align: center;
}
.forHr{
    display: block;
    border: solid 1px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.address{
    text-align: center;
    
}
.left{
    float: left;
    padding-left: 20px;
}
.right{
    float: right;
    padding-right: 20px;
}
 #basement{
     text-align: center;
     background: #42516c;
     text-decoration: underline;   
     color: white; 
        
 }
 .basementFix{
    display: block;
    bottom: 0px;
    position: fixed;
    width: -webkit-fill-available;
 }
.foot{
    margin-bottom: 0px !important;
    
}



@media screen and (min-width: 640px) {
   .navHeader{
    display: block;    
   }  
    .aboutMe{
        clear: both;
    }
    .navLink{        
        font-weight: 600 !important;
        margin-left: 30px;
        margin-right: 20px;
    }
    .navDiv{
       background-color: #f8f9fa;
       line-height: normal;
       box-shadow: 0px -1px 8px black;
       height: 90px;;
        
    }
    .navHeader{
        padding-bottom: inherit;
        
    }
    h1{
        font-size: xx-large !important;
    }
    .mainContact{
        margin-top: 15px;     
        box-shadow: -2px 4px 9px 0px black;   
        /* margin-left: 15px !important;  */
        /* margin-right: 15px !important; */
        padding-right: 10px;    
        display: block;       
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 20px !important;
    }
    .mainDiv{
        margin-right: 30px;
    }
  }